body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #ffbe37;
}
h1 {
    color: #3a2000;
}
p {
    color: #603e00;
}
#title {
    padding-top: 5px;
    padding-bottom: 12px;
}
#center {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
#github-img {
    height: 16px;
    width: auto;
    vertical-align: -10%;
}
#description {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0px;
    padding-bottom: 5px;
    /* this is internal padding, external padding is called a margin*/
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;

    box-sizing: border-box;
    border-style: solid;
    border-color: #603e00;
    border-radius: 15px;
    background-color: #FFF1DA;
}
#pokemon-thumbnail {
    width: fit-content();
    border-style: hidden;
    border-radius: 8px;
}
/*  */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5px;
}
.container:after {
    content: "";
    clear: both;
}
.column {
    /* float: left; */
    padding-top: 0px;
    padding-bottom: 5px;
    /* this is internal padding, external padding is called a margin*/
    margin-right: 1%;
    margin-top: 5px;
    height: fit-content;

    /* box-sizing: border-box; */
    border-style: solid;
    border-color: #603e00;
    border-radius: 15px;
    background-color: #FFF1DA;
}
/* I DONT EVEN KNOW WHAT ANY OF THIS DOESSSSSSS */
.container label {
    display: block;
    cursor: pointer;
    padding-left: 15px;
}
input#collapsible {
    display: none;
}
input:checked ~ .content {
    max-height: 0;
}
input#collapsible0 {
    display: none;
}
input:checked ~ .content0 {
    max-height: 0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
/* sub-content area */
.content {
    padding: 0 18px;
    max-height: 100%;
    overflow: hidden;
}
.content0 {
    padding: 0 18px;
    max-height: 100%;
    overflow: hidden;
}
.link {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    position: inherit;
    border-style: solid;
    border-color: #be891f;
    border-radius: 15px;
    background-color: #FFF1DA;
}
.link a {
    float: left;
    color: #603e00;
    text-align: left;
    font-size: 1rem;
    padding: 12px 16px;
    text-decoration: none;
}
.link a:hover {
    background: #ffe2b2;
    color: #462d00;
}

/* navbar area */
.navbar {
    overflow: hidden;
    background-color: #3a2000;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0px; /* Position the navbar at the top of the page */
    left: 0px;
    width: 100%; /* Full width */
}
/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #ffbe37;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: #FFF1DA;
    color: #603e00;
}